ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul .wrapper {
  display: grid;
  gap: 1rem;  
  grid-template: 'a';
}
@media (min-width: 768px) {
  ul .wrapper {
    grid-template: 'a b';
  }
}
@media (min-width: 1024px) {
  ul .wrapper {
    grid-template: 'a b c';
  }
}

ul li {
  display: block;
  background-color: var(--background-color-light);
  padding: 1rem;
  position: relative;
}
ul li button {
  position: absolute;
  right: 10px;
}
